@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  display: inline-flex;
  animation: slide 70s linear infinite;
  background: #975554
}

.animate-slide h5{  font-size: 7rem;}

.textslide{
  position: relative;
}
.consultant-btn{
position: absolute;
top:0;
right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  z-index: 111;
 background: #232326;

}