@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  display: inline-flex;
  animation: slide 70s linear infinite;
  background: #975554
}

.animate-slide h5{  font-size: 7rem;}