.wrapper {
  position: relative;
  width: 100%;
  padding: 4rem 1rem; /* Tailwind px-4 py-16 equivalent */
  background-image: url('/bg/Rectangle15.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

/* Gradient Overlay */
.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1; /* Adjust opacity as needed */
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  background: linear-gradient(180deg, #1f1e1d71 62.5%, #FFFFFF 100%);
  pointer-events: none; /* allows content interaction */
  z-index: 1;
  box-shadow: 0px 4px 4px 0px #00000040;

}

/* Ensure content is above overlay */
.wrapper > * {
  position: relative;
  z-index: 2;
}



