.mediaWrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.imageContainer {
  width: 100%;
  overflow: hidden;
}

.imageLeft img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
