.scroll-sticky-section {
  scroll-behavior: smooth;
}

.scroll-sticky-section img:hover {
  transform: scale(1.02);
}

.scroll-sticky-section .content-box {
  transition: all 0.3s ease;
}

.scroll-sticky-section .content-box:hover {
  transform: translateY(-5px);
}
.giftext{
  width: 90%;
}
.scroll-sticky-section button {
  letter-spacing: 0.05em;
  font-weight: 500;
}

@media (max-width: 768px) {
  .scroll-sticky-section {
    flex-direction: column;
  }
.giftext{
  width: 100%;
}
  .scroll-sticky-section img {
    height: 50vh !important;
  }

}
.gifimagemobile{
 display: none
}
@media (max-width: 768px) {
.gifimagemobile{
 display: block;
}
  .gifimage{
display: none;}
}


.BrandingSection {
background: linear-gradient(180deg, #E3D3CC 62.5%, #FFFFFF 100%);

}

.content-box button{
  border:1px solid #101828;
}
.content-box p{
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}

.content-box img{
  width: 300px !important;


}
/* ≤ 1450px */
@media only screen and (max-width: 500px) {


.content-box p{
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}

.content-box img{
  width: 300px !important;


}
  .scroll-sticky-section img {
    height: 25vh !important;
  }
  

}