.title{
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 53px;
color: white;
}

.decoration{
  width: 550px;
  font-size: 24px;
  margin-top: 15px;
  color: white;

}
@media only screen and (max-width: 700px) {
.title {
  font-size: 32px !important;
  line-height: 35px !important;
}

.decoration {
  font-size: 15px;
  width: 350px;



}

}



@media only screen and (max-width: 430px) {

.decoration {
  width: 100%;
}

}




