.title{
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 64px;
line-height: 80px;
color: white;

}

.decoration{
  width: 550px;
  font-size: 24px;
  margin-top: 40px;
  color: white;

}

@media only screen and (max-width: 767px) {
.decoration {
  width: 100%;
}
.title{
 font-size: 32px;
}

}





@media only screen and (max-width: 767px) {


.title {
  font-size: 30px;
  line-height: 40px;
}

.decoration {
  font-size: 15px;
}

}

