
.contentboxInnerBox{
  background: #232326;
}




@media only screen and (max-width: 767px) {
.BoxTitle-module__dnR0AG__decoration {
  width: 100%;
}
}


@media only screen and (max-width: 767px) {
  .contentboxInnerBox{
 padding: 20px;
  }
.contentboxInnerBox img {
  width: 40px;
}
  
.contentboxInnerBox h4 {
  font-size: 22px;
}
.contentboxInner {
  padding: 10px;
}


}