

.subTitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  display: inline-block;
  position: relative;

}

/* Underline */
.subTitle::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #975554;
  border-radius: 14px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

/* Left-align underline on medium+ screens */
@media (min-width: 768px) {
  .subTitle::after {
    left: 0;
    transform: none;
  }
  
}

.sectionTitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 600px !important;
  margin:20px auto;
  line-height: 46px;
}



.sectionTitle2{
 font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin:20px auto;
  line-height: 46px;

}


@media only screen and (max-width: 767px) {
.sectionTitle {
  width: 100% !important;
  text-align: center !important;
  line-height: 35px;

}
.subTitle{
  font-size: 20px;
  text-align: center !important;
  margin: auto;
   

}
.description{
  width: 100% !important;
}
.sectionTitle2{

  line-height: 35px;

}
}


@media only screen and (max-width: 500px) {
  .sectionTitle {
  line-height: 32px;
  font-weight: bold;
  font-size: 22px !important;
}
.subTitle{
  font-size: 20px;

   

}
.sectionTitle2{

  line-height: 32px;
  font-weight: bold;
  font-size: 22px !important;

}
}