.wrapper {
  position: relative;
  width: 100%;
  padding: 5rem; /* Tailwind px-4 py-16 equivalent */
  background-image: url('/bg/Rectangle1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

/* Overlay using ::after */
.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
background: #232326A8;
  opacity: 0.6; /* Adjust transparency as needed */
  pointer-events: none; /* Allow clicks to pass through overlay */
}


/* Ensure content is above overlay */
.wrapper > * {
  position: relative;
  z-index: 2;
}



@media only screen and (max-width: 1135px) {
 .wrapper {
   padding: 3rem;
}
}



@media only screen and (max-width: 767px) {
 .wrapper {
   padding:2rem 0rem;
}
 
}

