/* Navbar.module.css */



/* Container adjustments for medium screens */
@media only screen and (max-width: 1180px) {
  .containerFluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .navLink {
    font-size: 16px;
  }
}

/* Contact Us Button */
.contactUsBtn {
  border-radius: 14px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-block: 0.5rem; /* default padding */
}

/* Small screens */
@media only screen and (max-width: 767px) {
  .contactUsBtn {
    padding-block: 0.2rem;
  }
}

/* Sticky Navbar modifier */
.sticky {
  background: black;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

}

/* Non-sticky Navbar modifier */
.nonSticky {
  background: transparent;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}


.navbar-sticky {
  width: 90%;
  top: 20px;
  background: rgba(0, 0, 0, 0.7); /* translucent black */
  backdrop-filter: blur(12px);     /* blur effect */
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition: all 0.5s ease;
}

.navbar-default {
  width: 100%;
  top: 0;
  background: transparent;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  transition: all 0.5s ease;
}

.bg-glass{

   background-color: rgba(0, 0, 0, 0.75) !important;
  backdrop-filter: blur(6px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0.636954px 0.636954px -0.9375px, rgba(0, 0, 0, 0.08) 0px 1.9316px 1.9316px -1.875px, rgba(0, 0, 0, 0.07) 0px 5.10612px 5.10612px -2.8125px, rgba(0, 0, 0, 0.03) 0px 16px 16px -3.75px;
  transform: none;
  transform-origin: 50% 50% 0px;
  will-change: auto;

}