.copyright{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    position: absolute;
  top: 45px;
  text-decoration: underline;
}


@media only screen and (max-width: 1135px) {

.copyright {

  top: 20px;
}

}



@media only screen and (max-width: 767px) {

.copyright {
  position: relative;
  top: 10px;
  text-align: center

}

}