.copyright {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  color: #fff;
  font-size: 20px;
  text-decoration: underline;
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: 0px;
  text-align: center;
  margin: auto;
}


@media only screen and (max-width: 1135px) {

  .copyright {

    top: 20px;
  }

}



@media only screen and (max-width: 767px) {

  .copyright {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 16px;

  }

}