/* ========================================
   Base Styles
======================================== */
.description {
  font-size: 20px;
  width: 770px;
  margin: 30px auto;
}

.heading {
  font-size: 48px;
  width: 600px;
  margin: auto;
  line-height: 62px;
}

.boxheading {
  font-size: 48px;
  color: black;
  line-height: 62px;
}

.itemText {
  color: black;
  max-width: 275px;
  line-height: 30px;
  font-size: 20px;
}

.itemImage {
  max-width: 80px;
}

/* ========================================
   Mobile (<= 767px)
======================================== */
@media only screen and (max-width: 767px) {
  .heading {
    font-size: 24px;
    width: 100%;
    margin: auto;
    line-height: 35px;
  }

  .description {
    font-size: 16px;
    width: 100%;
    margin: 10px auto;
    line-height: 25px;
  }

  .boxheading {
    font-size: 24px;
    color: black;
    line-height: 35px;
  }

  .itemImage {
    max-width: 60px;
  }

  .itemText {
    font-size: 12px;
    line-height: 25px;
 
  }
}


@media only screen and (max-width: 960px) {
.description{
    width: 100%;
}
}