.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.videoContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoBox {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.2s ease-out, width 0.2s ease-out;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}


@media only screen and (max-width: 991px) {
 
.wrapper {
  height: 70vh !important;
}
}
@media only screen and (max-width: 991px) {
 
.wrapper {
  height: 60vh !important;
}
}
@media only screen and (max-width: 991px) {
 
.wrapper {
  height: 50vh !important;
}
}

@media only screen and (max-width: 991px) {
 
.wrapper {
  height: 30vh !important;
}
}