/* ========== Slider Layout ========== */
.sliderContainer {
  width: 100%;
  max-width: 100%;
margin: 80px auto 0 auto;
}

.sliderWrapper {
  width: 100%;
}

/* ========== Card Styles ========== */
.innerCard11 {
  position: relative;
  border-radius: 15px;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: box-shadow 0.3s ease;


  /* Background and glass effect */
  background-image: url('/bg/slider-bg.jpg');
  background-size: contain;
  background-position: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #fff;
  background: red; /* fallback color */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Ensure content sits above overlay */
.innerCard * {
  position: relative;
  z-index: 2;
}

/* Hover animation */


/* ========== Icon and Text ========== */

.innerCard p {
  margin-top: 0.5rem;
  font-weight: 500;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

/* ========== Swiper Pagination ========== */

.innerCard img{
  max-width: 180px;

}

.innerCard h4{
font-family: Lobster;
font-weight: 400;
font-style: Regular;
font-size: 32px;
line-height: 32PX;
letter-spacing: 0%;
width: 90%;
color: #fff;

  
}
.sliderContainer {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.sliderContainer.loaded {
  opacity: 1;
}

