/* ========== Slider Layout ========== */
.sliderContainer {
  width: 100%;
  max-width: 100%;
margin: 80px auto 0 auto;
}

.sliderWrapper {
  width: 100%;
}

/* ========== Card Styles ========== */


/* Ensure content sits above overlay */
.innerCard * {
  position: relative;
  z-index: 2;
}

/* Hover animation */


/* ========== Icon and Text ========== */

.innerCard p {
  margin-top: 0.5rem;
  font-weight: 500;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

/* ========== Swiper Pagination ========== */

.innerCard img{
  max-width: 180px;

}

.innerCard h4{
font-family: Lobster;
font-weight: 400;
font-style: Regular;
font-size: 32px;
line-height: 32PX;
letter-spacing: 0%;
width: 90%;
color: #fff;
text-transform: capitalize;

  
}
.sliderContainer {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.sliderContainer.loaded {
  opacity: 1;
}





@media only screen and (max-width: 1460px) {
.innerCard img{
    max-width: 120px;

}
  .InnerSlider-module__0Tpkga__innerCard {
    height: 300px !important;

}
  .innerCard h4 {
  font-size: 26px;
}
}



@media only screen and (max-width: 1276px) {
.innerCard img{
    max-width: 100px;

}
  .InnerSlider-module__0Tpkga__innerCard {
    height: 280px !important;

}
  .innerCard h4 {
  font-size: 24px;
    line-height: 32px;
}
}






@media only screen and (max-width: 1276px) {
.sliderContainer {

margin: 50px auto 0 auto;
}
}
