/* ParallaxSliderSection.module.css */
.parallaxSection {
background: linear-gradient(180deg, #E3D3CC 62.5%, #FFFFFF 100%);

}
.subTitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0;
  position: relative;
  display: inline-block;
}

/* Responsive underline */
.subTitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  background: #975554;
  border-radius: 14px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: all 0.3s ease;
}

/* Left align underline on medium screens and up */
@media (min-width: 768px) {
  .subTitle::after {
    left: 0;
    transform: none;
  }
  
}
