.container a{
  color: #6c2823;
  font-weight: bold;
  text-decoration: underline;
}
.container strong {
  color: #6c2823;
  font-weight: bold;
  font-size: 22px;
}
@media only screen and (max-width: 767px) {
.container strong {
  font-size: 16px;
}
}


.subtitle{
text-decoration: capitalize;
color: #6c2823;

}