.title {
  color: #fff;
  font-weight: 400 !important;
}

.title strong {
  font-weight: 900 !important;
}

.button {
  border-radius: 14px;
  background: #FFF;
  box-shadow: 0 4px 4px 6px rgba(0, 0, 0, 0.35);
  color: black;
  color: #182027;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bgglass {
  /* Shadow for glass effect */
  box-shadow:
    rgba(0, 0, 0, 0.09) 0px 0.637px 0.637px -0.938px,
    rgba(0, 0, 0, 0.08) 0px 1.932px 1.932px -1.875px,
    rgba(0, 0, 0, 0.07) 0px 5.106px 5.106px -2.813px,
    rgba(0, 0, 0, 0.03) 0px 16px 16px -3.75px;

  transform: none;
  transform-origin: 50% 50% 0px;
  will-change: auto;
  border-radius: 22px;
 
  background: rgba(35, 35, 38, 0.78);

}

@media only screen and (max-width: 994px) {
  .button{
    font-size: 24px;
  }
.bgglass {
  padding:20px;
  height: auto !important;
  padding-block: 5rem;
}
}